/* Apply the type of box to the whole page. */
* {
    box-sizing: border-box;
  }
  
  /* Whole body has the times new roman  */
  body {
    font-family: 'Times New Roman', Times, serif
  }
  
  /* Style the header bar */
  header {
    background-color: lightblue;
    padding: 30px;
    text-align: center;
    color: black;
    font-size: xx-large;
  }
  
  /* Style of Header two */
  h2 {
      padding-bottom: 2%;
      font-size: 82px;
  }
  
  h3 {
      font-size: xx-large;
  }
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 30%;
    height: 600px; 
    background: #ccc;
    padding: 30px;
    padding-bottom: 10px;
    font-size: large;
    cursor: pointer;
  }
  
  /* ------------------change */
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 600px; 
  }
  
  
  
  
  /* Clear floats after the columns------------------change */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer style - this will act as a button to the next page.  */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: larger;
    cursor: pointer;
  }
  
  
  /* Making my drop down box for the breeds */
  .dropbtn {
      background-color: lightblue;
      color: black;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: gray;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropdown:hover .dropbtn {
      background-color: lightskyblue;
    }
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }